<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Tanya Jawab</title>

    <?php $this->assets->outputCss(); ?>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <nav class="navbar navbar-default" role="navigation">
	  <div class="container">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-brand-centered">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <div class="navbar-brand navbar-brand-centered">
	      	<?= $this->tag->linkTo(['index', 'Tanya Jawab']) ?>
	      </div>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="navbar-brand-centered">
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>

	<div class="container">

		<h2 class="page-header">Edit Pertanyaan</h2>

		<div class="row">
			
			<div class="col-md-8">
				
		      	<?php echo $this->tag->form('index/update/'.$pertanyaan->id) ?>

					<div class="form-group">
						<label>Nama</label>
						<?= $this->tag->textField(
						    [
						        'nama',
						        'class'        => 'form-control',
						        'placeholder' => 'Nama',
						        'value'			=> $pertanyaan->nama
						    ]
						) ?>
					</div>

					<div class="form-group">
						<label>Email</label>
						<?= $this->tag->emailField(
						    [
						        'email',
						        'class'        => 'form-control',
						        'placeholder' => 'Email',
						        'value'			=> $pertanyaan->email
						    ]
						) ?>
					</div>
					
					<div class="form-group">
					    <label>Pertanyaan</label>
						<?= $this->tag->textArea(
						    [
						        'pertanyaan',
						        'class'  => 'form-control',
						        'placeholder' => 'Pertanyaan anda disini...',
						        'value'			=> $pertanyaan->pertanyaan
						    ]
						) ?>
					</div>
					
					<div class="form-group">
						<?php echo $this->tag->selectStatic(
						    [
						        'kategori',
						        [
						            'Website' => 'Website',
						            'Game' => 'Game',
						            'Mobile' => 'Mobile',
						        ],
						        'emptyValue'			=> $pertanyaan->kategori,
						        'class'	=> 'form-control',
						        "useEmpty" => true,
						    ]
						);
						?>
					</div>

					<div class="form-group">
						<label>Tags</label>
						<?= $this->tag->textField([ 
							'tags',
							'value'			=> $pertanyaan->tags
						]) ?>
					</div>

					<div class="form-group">
					    <?php echo $this->tag->submitButton([
					      	"Simpan",
					      	'class'=> 'btn btn-success']) ?>
					</div>

				</form>

			</div>

			<div class="col-md-4">

				<?= $this->tag->linkTo(['index', '<i class="fa fa-long-arrow-left"></i> kembali ke halaman utama']) ?>

			</div>

		</div>


	</div>

    <?php $this->assets->outputJs(); ?>

    <script type="text/javascript">
    	$('#tags').tagsInput();
    </script>

  </body>
</html>