<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Tanya Jawab</title>

    <?php $this->assets->outputCss(); ?>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <nav class="navbar navbar-default" role="navigation">
	  <div class="container">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-brand-centered">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <div class="navbar-brand navbar-brand-centered">Tanya Jawab</div>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="navbar-brand-centered">
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>

	<div class="container">

		<div class="row">
			
			<div class="col-md-8">
				
				<div>

				  <!-- Nav tabs -->
				  <ul class="nav nav-tabs" role="tablist">
				    <li role="presentation" class="active"><a href="#terbaru" aria-controls="home" role="tab" data-toggle="tab">Terbaru</a></li>
				    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Popular</a></li>
				  </ul>
				  <br>
				  <div class="tab-content">
				    <div role="tabpanel" class="tab-pane active" id="terbaru">

						<?php
						$sql = 'SELECT * FROM pertanyaan ORDER BY nama';

						// Send a SQL statement to the database system
						$result = $this->di['db']->query($sql);

						// Print each robot name
						while ($p = $result->fetch()) {
						   ?>
					        <div class="panel panel-white post panel-shadow">
					            <div class="post-heading">
					                <div class="pull-left image">
					                    <img src="http://bootdey.com/img/Content/user_1.jpg" class="img-circle avatar" alt="user profile image">
					                </div>
					                <div class="pull-left meta">
					                    <div class="title h5">
					                        <a href="#"><b><?php echo $p['nama']; ?></b></a>
					                    </div>
					                    <h6 class="text-muted time"><?php echo date('d F Y H:i', strtotime($p['tanggal'])); ?> <em> | <?php echo $p['kategori']; ?></em></h6>
					                </div>
					            </div> 
					            <div class="post-description"> 
					                <p><?php echo $p['pertanyaan']; ?></p>
					                <div class="pull-left stats">
					                    <a href="#" class="btn btn-default stat-item">
					                        <i class="fa fa-thumbs-up icon"></i><?php echo rand(5,10); ?>
					                    </a>
					                    <a href="#" class="btn btn-default stat-item">
					                        <i class="fa fa-share icon"></i><?php echo rand(5,10); ?>
					                    </a>
					                </div>
					                <div class="pull-right">
					                	<?= 
					                	$this->tag->linkTo([ 
					                		'index/edit/'.$p['id'], 
					                		'Edit',
					                		'class'	=> 'btn btn-default',
					                	]) ?>
					                	<?= 
					                	$this->tag->linkTo([ 
					                		'index/hapus/'.$p['id'], 
					                		'Hapus',
					                		'class'	=> 'btn btn-danger',
					                		'onclick'	=> 'return confirm("Hapus pertanyaan?")'
					                	]) ?>
					                </div>
					                <div class="clearfix"></div>
					            </div>
					        </div>
						   <?php
						}
						?>



				    </div>
				    <div role="tabpanel" class="tab-pane" id="profile">...</div>
				  </div>

				</div>

			</div>

			<div class="col-md-4">

				<h3>Buat Pertanyaan</h3>

		      	<?php echo $this->tag->form('index/pertanyaan') ?>

					<div class="form-group">
						<label>Nama</label>
						<?= $this->tag->textField(
						    [
						        'nama',
						        'class'        => 'form-control',
						        'placeholder' => 'Nama',
						    ]
						) ?>
					</div>

					<div class="form-group">
						<label>Email</label>
						<?= $this->tag->emailField(
						    [
						        'email',
						        'class'        => 'form-control',
						        'placeholder' => 'Email',
						    ]
						) ?>
					</div>
					
					<div class="form-group">
					    <label>Pertanyaan</label>
						<?= $this->tag->textArea(
						    [
						        'pertanyaan',
						        'class'  => 'form-control',
						        'placeholder' => 'Pertanyaan anda disini...',
						    ]
						) ?>
					</div>
					
					<div class="form-group">
						<?php echo $this->tag->selectStatic(
						    [
						        'kategori',
						        [
						        	''	=> '-- Pilih kategori --',
						            'Website' => 'Website',
						            'Game' => 'Game',
						            'Mobile' => 'Mobile',
						        ],
						        'class'	=> 'form-control',
						    ]
						);
						?>
					</div>

					<div class="form-group">
						<label>Tags</label>
						<?= $this->tag->textField([ 'tags' ]) ?>
					</div>

					<div class="form-group">
					    <?php echo $this->tag->submitButton([
					      	"Kirim",
					      	'class'=> 'btn btn-success']) ?>
					</div>

				</form>

			</div>

		</div>


	</div>

    <?php $this->assets->outputJs(); ?>

    <script type="text/javascript">
    	$('#tags').tagsInput();
    </script>

  </body>
</html>